<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OsintMon Suite">
	<listeners>
		<listener class-name="Listener.TestListener" />
	</listeners>
	<test name="VerifyTitle">
		<classes>
			<class name="osintMonTestCases.VerifyTitle"></class>
		</classes>
	</test>
	<test name="NoCredentials">
		<classes>
			<class name="invalidTestCases.InvalidLogin"></class>
		</classes>
	</test>
	<test name="ValidLogin">
	<parameter name="emailId"
			value="phaneendraphani20@gmail.com" />
		<parameter name="password" value="Phaneendra@15" />
		<classes>
			<class name="validTestcases.ValidLogin"></class>
		</classes>
	</test>
</suite> <!-- Suite -->
